<%% unless notice.blank? %>
<p>
  <div class="alert alert-success alert-dismissible fade in" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <strong>Well done!</strong> <%%= notice %>
  </div>
</p>
<%% end %>

<% attributes.reject(&:password_digest?).each do |attribute| -%>
  <h4><%= attribute.human_name %>:</h4>
  <p><%%= @<%= singular_table_name %>.<%= attribute.name %> %></p>

<% end -%>
<%%= link_to 'Edit', edit_<%= singular_table_name %>_path(@<%= singular_table_name %>) %> |
<%%= link_to 'Back', <%= index_helper %>_path %>
